main {
    max-width: 90%;
    margin: auto;
}

.flex-container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.flex-title {
    color: #f1f1f1;
    position: relative;
    font-size: 6vw;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 15%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.flex-about {
    opacity: 0;
    color: #f1f1f1;
    position: relative;
    width: 70%;
    font-size: 2vw;
    padding: 5%;
    top: 20%;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    line-height: 1.3;
    margin: auto;
    text-align: left;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.flex-slide {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-title {
        transform: rotate(0deg) !important;
    }
}

.flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.profile {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/dwp2x/wp11174641.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .profile {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/profile_768.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}

@keyframes aboutFlexSlide {
    0% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    50% {
        -webkit-flex-grow: 3;
        flex-grow: 3;
    }
    100% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
}

.product {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/ferrari.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .product {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/sfondo_product1.jpg");
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
    }
}

.flex-title-product{
    position: relative;
    top: 19%
}

.table-users{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/dwp2x/wp12074922.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .table-users {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/logo_table.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}
