.table-users{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.sky.it/editorialimages/01d96546bdfd984776923499191f15c250027c9b/skysport/it/motori/formula-1/2023/02/13/mclaren-formula-1-foto-presentazione/mclaren_2023_twitter.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-title {
        transform: rotate(0deg) !important;
    }

    .flex-about {
        padding: 0;
        border: 0 solid #f1f1f1;
    }

    .flex-slide {
        overflow: auto;
        overflow-x: hidden;
    }

    .flex-slide p {
        font-size: 2em;
    }

    .profile {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp10761456.jpg);
        background-size: cover;
        background-position-y: -300px
    }

    .product {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/dwp2x/wp11955790.jpg);
        background-size: cover;
        background-position-y: -550px;
    }

    .table-users {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/b6/b7/c4/b6b7c4d143a708eb4bbc9f589015fe05.png);
        background-size: cover;
        background-position-y: -120px;
    }
}

@media screen and (min-width: 992px) {
    .flex-title-profile {
        transform: rotate(90deg);
        top: 15%;
        animation: aboutFlexSlide 3s 1;
        animation-delay: 0s;
    }
}

@media screen and (max-width: 720px){

    .profile {
        background-position-y: -150px;
    }

    .product {
        background-position-y: -400px;
    }

    .table-users {
        background-position-y: -60px;
    }
}

@media screen and (max-width: 576px){

    .profile {
        background-position-y: -100px;
    }

    .product {
        background-position-y: -300px;
    }

    .table-users {
        background-position-y: -60px;
    }
}

@media screen and (max-width: 480px){

    .profile {
        background-position-y: -50px;
    }

    .product {
        background-position-y: -200px;
    }

    .table-users {
        background-position-y: -60px;
    }
}