#navbar {
    position: absolute;
}

#bg-register {
    background: url("/f1_project/assets/images/FVCyg1fWIAIy8y7.jpeg");
    background-size: cover;
    background-position: top;
}

#bg-register #register-form {
    background: rgba(87, 87, 87, .6);
    backdrop-filter: blur(5px);
}

#bg-login {
    background: url("/f1_project/assets/images/FEpfHeBXwAMnIJA.jpeg");
    background-size: cover;
    background-position: bottom;
}

#bg-login #login-form {
    background: rgba(87, 87, 87, .6);
    backdrop-filter: blur(5px);
}