#navbar {
    position: sticky;
}

html {
    overflow: hidden;
}

main {
    max-width: 90%;
    margin: auto;
}


.container-element {
    background: rgba(87, 87, 87, .6);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border-style: solid;
    border-color: #ff1300;
    margin-bottom: 15%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 992px) {
    .registration {
        height: 550px;
    }
}

@media screen and (max-height: 700px) and (max-width: 500px) {
    .container-element {
        height: 450px;
        width: 100%;
    }

    .lost-pass {
        height: 380px;
    }
}

@media screen and (max-height: 600px) {
    .container-element {
        height: 300px;
        width: 80%;
    }
}

@media screen and (max-height: 468px) {
    .container-element {
        height: 250px;
    }
}

@media screen and (max-height: 280px) {
    .container-element {
        height: 200px;
    }
}

.container-element::-webkit-scrollbar {
    width: 0;
}

#bg-login {
    background: url("/f1_project/assets/images/FEpfHeBXwAMnIJA.jpeg");
    background-size: cover;
    overflow: hidden;
    background-position: bottom;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bg-register {
    background: url("/f1_project/assets/images/FVCyg1fWIAIy8y7.jpeg");
    background-size: cover;
    background-position: top;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-box {
    margin-left: 10px;
}

p {
    margin-bottom: unset !important;
}

input {
    margin-right: 20px !important;
}

#remember_me {
    margin-right: 0;
}

legend {
    margin-top: 10px;
    margin-left: 14px;
}

#div_button {
    margin-bottom: 3%;
}

ul {
    padding: 0 !important;
    position: absolute;
    right: 0;
}

.margin-right {
    margin-right: 10px;
}

@media screen and (max-width: 768px){
    ul {
        top: 11px;
    }
}

@media screen and (max-width: 410px){
    ul {
        position: relative;
        max-width: 90px;
        left: 20px;
    }

    .nav-text{
        display: none;
    }

    .li-position {
        position: relative;
        right: 35px
    }
}