main {
    max-width: 90%;
    margin: auto;
}

.flex-container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.container-element{
    position: relative;
    backdrop-filter: blur(5px);
    width: 40%;
    height: 420px;
    border-radius: 10px;
    top: 100px;
    border-style: solid;
    border-color: #ff1300;
    overflow: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 768px){
    .container-element {
        width: 90%
    }
}

@media screen and (max-height: 450px){
    .container-element {
        top:50px;
        width: 90%;
    }
}

.container-element::-webkit-scrollbar {
    width: 0;
}

.text-box{
    margin-left: 20px;
    margin-right: 20px;
}

#newsletter {
    position: relative;
    top: 12px;
}