main {
    max-width: 90%;
    margin: auto;
}

.flex-container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.container-element{
    position: relative;
    backdrop-filter: blur(5px);
    max-height: 55%;
    width: 40%;
    height: 100%;
    border-radius: 10px;
    top: 100px;
    border-style: solid;
    border-color: #ff1300;
    overflow: auto;
    overflow-x: hidden;
}

.container-element::-webkit-scrollbar {
    width: 0;
}

.text-box{
    margin-left: 20px;
    margin-right: 20px;
}

#button {
    position: relative;
    bottom: -30px;
}

#newsletter {
    position: relative;
    top: 12px;
}