select .option_invalid {
    background-color: rgb(200,200,200) !important;
}

select .option_valid {
    color: black !important;
}

.img-url {
    max-width: 400px !important;
}

#img-preview img {
    object-fit: contain !important;
}