.flex-container {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: unset;
    border-radius: 10px;
}

.container-element{
    position: relative;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
}

.container-element::-webkit-scrollbar {
    width: 0;
}

body.dark {
    --dt-row-hover: 255, 255, 255;
    --dt-row-stripe: 255, 255, 255;
    --dt-column-ordering: 255, 255, 255;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

select {
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}