main {
    max-width: 90%;
    margin: auto;
}

body {
    overflow: hidden;
}

.flex-container {
    position: relative;
    height: 85vh;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.container-element{
    position: relative;
    backdrop-filter: blur(5px);
    width: 50%;
    height: 480px;
    border-radius: 10px;
    border-style: solid;
    border-color: #ff1300;
    margin-right:auto;
    margin-left:auto;
    overflow: auto;
    overflow-x: hidden;
}

.container-element::-webkit-scrollbar {
    width: 0;
}

/*media query width*/

@media screen and (max-width: 992px) {
    .container-element{
        width: 70%;
    }
}


@media screen and (max-width: 767px) {
    .container-element{
        width: 70%;
        height: 570px;
    }
}

@media screen and (max-width: 480px){
    .container-element {
        width: 95%;
    }
}

#bg-profile {
    background: url("/f1_project/assets/images/circuit.jpeg");
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bg-profile #profile-data {
    background: rgba(87, 87, 87, .6);
}

#photo_profile{
    position: relative;
    object-fit: cover;
    width: 70px;
    height: 70px;
    top: 20px
}

.text-box{
    margin-left: 10px;
    margin-right: 10px;
}

#profile-data input {
    text-align: center;
}
#profile-data input::placeholder {
    text-align: center;
}

.text-red {
    color: #ff1300;
}

* {
    color: white;
}

hr {
    border-top: 3px solid red;
}

.my_outline_animation {
    border: none;
    position: relative;
    transition: all ease-in-out .2s;
}

.my_outline_animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    background-color: red;
    transition: all ease-in-out .2s;
}

.my_outline_animation:hover::after {
    width: 100%;
    left: 0;
}

.hover-red:hover .material-symbols-outlined {
    color: red;
}

#navbar {
    background-color: transparent;
}

#navbar-logo {
    width: 70px;
    height: 70px;
    background-image: url('/f1_project/assets/images/F1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-profile{
    height: 85vh;
}

.profile-img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.navigate:hover {
    background-color: transparent;
    border: 1px solid rgb(220,53,69) !important;
}

.navigate-left {
    position: relative;
    right: 20px;
}

.navigate-right {
    position: relative;
    left: 20px;
}

#upload-img {
    margin: 0 !important;
}

#img_url {
    position: relative;
    right: 25px;
}

#image-local {
    position: relative;
    right: 15px;
}

.n-border {
    border: unset;
}

/*media query height*/

@media screen and (max-height: 680px) {
    .container-element{
        width: 70%;
        max-height: 400px;
    }

    #button_div {
        position: relative;
        bottom: 20px !important;"
    }
}

@media screen and (max-height: 568px){
    .container-element {
        height: 350px;
    }
}


@media screen and (max-height: 460px) {
    .container-element{
        max-height: 200px;
    }

    #checkbox_div {
        margin: 10px !important;
    }
}

@media screen and (max-height: 290px) {
    .container-element{
        position: relative;
        bottom: 10%;
        max-height: 150px;
        width: 70%;
    }
}

