/* .lbl-shop * {
            color: cyan !important;
        }*/
.my-thin-grey {
    border: 1px solid grey; !important;
}

.hover-yellow:hover {
    background-color: white;
}

.hover-yellow:hover .material-symbols-outlined {
    color: yellow;
}

.hover-yellow:hover .text {
    color: black;
}